<mat-drawer-container class="drawer-container">
  
  <mat-drawer class="sidebar" mode="side" opened>

    <h2 class="cat-title">Catagories</h2>
    <button mat-button class="catagories" (click)="onClear()">All Products</button>
    <div class="cat-buttonContainer">
      <button mat-button class="catagories" *ngFor="let catagory of loadedCatagories" (click)="onSelectCatagory(catagory)">{{ catagory}}</button>
    </div>

  </mat-drawer>

  <mat-drawer-content class="tileContainer">

    <div class="search-header">
      <mat-form-field class="sorting-option">
        <mat-label>Sorting option</mat-label>
        <mat-select (selectionChange)="onChangeSorting($event)">
          <mat-option [value]="'random'">--</mat-option>
          <mat-option [value]="'asc'">
            price from low to high
          </mat-option>
          <mat-option [value]="'desc'">
            price from high to low
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <app-item-tile [item]="item" class="item-tile"
      *ngFor="let item of (filteredItems$ | async) | sort: [sortingField$, sortingOption$]">
    </app-item-tile>

    <h3 class="card-container" *ngIf="(filteredItems$ | async).length === 0">
      No results found
    </h3>

  </mat-drawer-content>

</mat-drawer-container>