.drawer-container{
    width:100%;
   min-height: 800px;
    margin-top: 3px;
}
.catagories{
    width: 100%;
}

mat-sidenav {
    width:auto;
  }

.sidebar{
    display: flex;
   flex-direction: column;
   min-width: 220px;
}

.cat-buttonContainer{
    display: flex;
    flex-direction: column;

}

.search-header{
    width: 100%;
}






.tileContainer{
      display: flex;
      flex-wrap: wrap;
  }

