<mat-drawer-container class="drawer-container">
    <mat-drawer class="sidebar" mode="side" opened>
        <h2 class="cat-title">Catagories</h2>
       <div class="cat-buttonContainer">
        <button mat-button class="cat" *ngFor="let cat of loadedCat" (click)="setCat(cat)">{{ cat}}</button>
       </div>
        
       
    </mat-drawer>
    <mat-drawer-content class="tileContainer">
        <app-item-tile *ngFor="let item of loadedItems" 
        [item] = "item"></app-item-tile>

    </mat-drawer-content>
  </mat-drawer-container>
  