<mat-toolbar>
   
        <a href="#" class="mat-button"> 
            <span>Shopping Mall </span>
        </a>
        <span class="header-spacer"></span>

        <div class="searchbarContainer">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input matInput #message maxlength="256" placeholder="Search">
                </mat-form-field>
              </form>
        </div>
        <span class="header-spacer"></span>
        <div class="header-function-buttons">
            <button mat-stroked-button color="primary" routerLinkActive="active">Account/Login</button>
            <button mat-stroked-button routerLinkActive="active">Cart</button>
            <!-- <button mat-stroked-button routerLink="/items/new" routerLinkActive="active">Add item</button> -->
            <button mat-stroked-button (click)="onNewItem()">Add item</button>

    </div>
   
    
  </mat-toolbar>

