.mat-toolbar{
    display: flex;
    justify-content: space-between;
  }


.titleContainer{
    display: flex;
    justify-content: left;
}

.title{
    padding-top: 12px;
    color: white;
    text-decoration:none;

}

.header-function-buttons{
    min-width:150px;
    display: flex;
  justify-content:right;
 
}
.searchfield{
    min-width: 350px;
}