<mat-toolbar color="primary">
  <a routerLink="/items" class="titleLink" (click)="onClearAll()">
    <div class="titleContainer">
      <img src="https://img.icons8.com/wired/64/ffffff/bts-army.png" />
      <h1 class="title">Shopping Mall </h1>
    </div>
  </a>
  <span class="header-spacer"></span>

  <div class="searchbarContainer">
    <mat-form-field class="searchfield">
      <span matPrefix><i class="fas fa-search"> </i></span>
      <input matInput #searchInput minlength="300" placeholder="Search" (keydown.enter)="onSearch($event)">
      <mat-icon class="clearSearch" *ngIf="searchInput.value.length > 0" matSuffix (click)="clearInput()">close
      </mat-icon>
    </mat-form-field>
  </div>

  <span class="header-spacer"></span>
  <div class="header-function-buttons">
    <div class="bb-brand-community">
      <a
        class="bb-brand-community-link"
        href="https://community.backbase.com/"
        target="_blank"
        >Community</a
      >
    </div>
    <button mat-stroked-button routerLink="/auth" routerLinkActive="active" *ngIf="!isAuthenticated">Login</button>
    <button mat-stroked-button routerLink="/cart" routerLinkActive="active">
      <span [matBadge]="cartItemCount" matBadgeColor="accent" matBadgeOverlap="false">Cart</span>
    </button>
    <!-- <button mat-stroked-button routerLink="/items/new" routerLinkActive="active">Add item</button> -->
    <button mat-stroked-button routerLink="/auth" routerLinkActive="active" *ngIf="isAuthenticated">Logout</button>
    <!-- <button mat-stroked-button (click)="onNewItem()">Add item</button> -->
  </div>

</mat-toolbar>